<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gabrielf.apppedidos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cheeseburger_48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".RegistraActivity"
            android:label="@string/title_RegistraActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistraProdActivity"
            android:label="@string/title_RegistraProdActivity" />
        <activity
            android:name=".ListaActivity"
            android:label="@string/title_ListaActivity" />
        <activity
            android:name=".EliminarActivity"
            android:label="@string/title_EliminarActivity" />
        <activity
            android:name=".Pre_modificarActivity"
            android:label="@string/title_Pre_modificarActivity" />
        <activity
            android:name=".ModificarActivity"
            android:label="@string/title_ModificarActivity" />
        <activity
            android:name=".CantidadActivity"
            android:label="@string/title_CantidadActivity" />
        <activity
            android:name=".Correo"
            android:label="@string/title_CorreoActivity" />
        <activity
            android:name=".RecuperarPass"
            android:label="@string/title_RecuperarPass" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PedidoActivity"
            android:label="@string/title_activity_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PedidofinalActivity"
            android:label="@string/title_activity_pedidofinal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiPerfilActivity"
            android:label="@string/title_MiPerfilActivity" />
        <activity
            android:name=".MisDireccionesActivity"
            android:label="@string/title_MisDireccionesActivity" />
        <activity
            android:name=".ListaPedidosActivity"
            android:label="@string/title_ListaPedidosActivity" />
        />
        <activity
            android:name=".PrincipalPedidoActivity"
            android:label="@string/title_PrincipalPedidoActivity" />
        <activity android:name=".PedidoDetaActivity"
            android:label="@string/title_PedidoDetaActivity"></activity>
    </application>

</manifest>
